.toolbar {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: #005559;
  height: 56px;
}

.toolbar-logo {
  font-size: 2rem;
  margin-left: 1rem;
}

.toolbar-logo a {
  color: #eee;
  size: 1.5rem;
  text-decoration: none;
}

.separator {
  flex: 1;
}

.toolbar-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-navigation-items li {
  padding: 0 0.5rem;
}

.toolbar-navigation-items a {
  color: #eee;
  text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
  color: #ffff58;
}

@media (max-width: 768px) {
  .toolbar-navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
  .toolbar-toggle-button {
    display: none;
  }
  .toolbar-logo {
    margin-left: 0;
  }
}
